<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgrammingProject</title>
    <link rel="stylesheet" href="~/dist/bundle.css" asp-append-version="true" />
    <link rel="icon" href="~/logo-transparent.png" type="image/png" />
</head>
<body>
    <div class="w-100">
        <header class="sticky-top">
            <partial name="_navbar" model="User"/>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer py-4 w-100 text-white mb-0">
        <div class="container">
            &copy; 2023 - EasyWalk - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
