@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@{
    var isLoggedIn = Context.Session.GetInt32(nameof(Owner.UserId)).HasValue;
    var accountType = Context.Session.GetString("AccountType");
}
<div id="navbar">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid container">
            <a class="navbar-brand text-primary h1 d-flex flex-row justify-content-between mb-0" asp-area="" asp-controller="Home" asp-action="Index">
                @*Need to update image with svg*@
                <img src="~/img/logo-transparent-bkg-2.png" alt="EasyWalk logo" width="40" height="40" />
                <span class="ms-3" style="font-size: 2rem;">EasyWalk</span>
            </a>
            @*should remove data-bs-toggle - or update bootstrap version used by bundler*@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">

                    @if (isLoggedIn)
                    {

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="@accountType" asp-action="Index">Dashboard</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, @Context.Session.GetString(nameof(Owner.FirstName))
                            </a>
                            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                                @if (accountType == "Administrator")
                                {
                                    <a class="dropdown-item" asp-controller="Administrator" asp-action="EditUser">Edit User</a>
                                }
                                @if (accountType == "Owner")
                                {
                                    <a class="dropdown-item" asp-controller="Owner" asp-action="AddDog">Add Dog</a>
                                }
                                @if (accountType != "Administrator")
                                {
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a>
                                }
                                @if ((accountType == "Walker"))
                                {
                                    <a class="dropdown-item" asp-controller="Walker" asp-action="PreviousWalkingSessions">Previous Sessions</a>
                                }
                                <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Login" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>

<script>
    // remove active from all menu items
    var navItems = document.querySelectorAll('li.active')
    navItems.forEach(i => {
        i.classList.remove('active')
    })

    // Assumes all links are of the form /Controllername with a capital letter.
    var pathname = location.pathname.length > 1 ? location.pathname.charAt(0) + location.pathname.charAt(1).toUpperCase() + location.pathname.substring(2) : location.pathname;
    if (pathname == '/Home') pathname = '/'

    // find menu item where href matches page location; make active
    var selector = 'a[href="' + pathname + '"].nav-link';
    var activeItem = document.querySelector(selector)
    if (activeItem != null) {
        activeItem.parentElement.classList.add('active')
    }

</script>
