@model EditProfileViewModel
@{
    ViewData["Title"] = "Profile";

}
<div class="d-flex">
    <div>
        <img src="~/img/@Model.SavedProfileImage" width="200" height="200" style="border-radius: 80px;" class="ms-1" asp-append-version="true" />
    </div>
    <div class="form-control">
        <label asp-for="ProfileImage" class="control-label">Update Profile Image</label>
        <input asp-for="ProfileImage" value=@Model.SavedProfileImage id="ProfileImage" accept=".jpg, .jpeg, .png" onchange="validateFileType()" />
        <span asp-validation-for="ProfileImage" class="text-danger"></span>
    </div>
    <div class="ms-4">
        <p class="card-title fw-bold fs-5">@Html.DisplayFor(model => model.FirstName)</p>
    </div>
    <div>
        <a class="btn btn-primary"
           asp-action="Index">Personal Information</a>
        @if (Model.UserType.Equals("Owner"))
        {
            <a class="btn btn-primary"
           asp-action="ViewDogs">Dogs</a>
        }

    </div>
</div>
@section scripts{
      <script type="text/javascript">

        // The following code validates that an only jpeg, jpg, or png files are accepted.
        function validateFileType()
        {
            var ProfileImage = document.getElementById("ProfileImage").value;
            var indexDot = ProfileImage.lastIndexOf(".") + 1;
            var endFile = ProfileImage.substr(indexDot, ProfileImage.length).toLowerCase();
            if (endFile != "jpg" && endFile != "jpeg" && endFile != "png") 
            {
                alert("Only jpg/jpeg and png files accepted.");
                document.getElementById("ProfileImage").value = "";
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  