
@{
    ViewData["Title"] = "Verify";
}

@*<div>
    
    <h1 class="mt-5 text-primary">Verification Success!</h1>
    <p>Thank you for verifying your email address. Head to the login page to get started with your EasyWalk journey!</p>
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-primary" asp-controller="Login" asp-action="Login" >Login</a>
    </div>

</div>*@

<div class="card border-0 flex-row">
    <div class="col d-flex flex-row justify-content-center card-img-top" id="verificationWrapper">
        <img class="img-fluid w-100"
             src="~/img/pexels-bethany-ferr-5482860-lg.jpg"
             srcset="/img/pexels-bethany-ferr-5482860-sm.jpg 400w, /img/pexels-bethany-ferr-5482860-md.jpg 680w, /img/pexels-bethany-ferr-5482860-lg.jpg 1000w"
             sizes="80vw"
             alt="A dalmation on a leash, going for a walk"
             id="verificationBkg"/>
    </div>

    <div class="card-img-overlay card-inverse m-5 overflow-auto p-4 d-flex flex-column justify-content-center" style="background: rgba(255,255,255,0.8);">
        <h1 class="mt-5 text-primary">Verification Success!</h1>
        <p>Thank you for verifying your email address. Head to the login page to get started with your EasyWalk journey!</p>
        <div class="">
            <a class="btn btn-primary" asp-controller="Login" asp-action="Login">Login</a>
        </div>
    </div>
</div>