
@{
    ViewData["Title"] = "Verify";
}

<div>
    <h1 class="display-4">Thank you for verifying your email address</h1>
    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Login" asp-action="Login" >Login</a>
    </div>

</div>