@model ProgrammingProject.Models.Dog
@{
    ViewData["Title"] = "Add A Dog Rating";
    var dog = (Dog)ViewBag.Dog;
    var walker = (Walker)ViewBag.Walker;
}

<div>
    <h1>Add a rating for @dog.Name</h1>
</div>
<div>
    <form asp-action="AddDogRating">
        <input type="hidden" id="WalkerID" name="WalkerID"
               data-val="true" value=@walker.UserId />
        <input type="hidden" id="DogID" name="DogID"
               data-val="true" value=@dog.Id />
        <fieldset>
            <label for="1" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="1" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="2" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="2" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="3" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="3" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="4" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="4" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="5" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="5" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>

        </fieldset>
        <input type="submit" class="btn btn-primary" asp-action="AddDogRating"
               asp-route-id="AddDogRating" />
    </form>
</div>
@section Scripts {
    <script type="text/javascript" src="~/../js/site.js"></script>
    <script type="text/javascript">

    </script>
}





