@model ProgrammingProject.Models.Dog
@{
    ViewData["Title"] = "Add A Dog Rating";
    var dog = (Dog)ViewBag.Dog;
    var walker = (Walker)ViewBag.Walker;
}

<div>
    <h1>Add a rating for @dog.Name</h1>
</div>

@*<div>
    <h3>Dog</h3>
    <div class="d-flex justify-content-between align-items-stretch flex-wrap gap-4">

        <partial name="../Shared/Components/_DogCard.cshtml" model="@dog" />

    </div>
</div>*@

<div>
    <form asp-action="AddDogRating">
        <input type="hidden" id="WalkerID" name="WalkerID"
               data-val="true" value=@walker.UserId />
        <input type="hidden" id="DogID" name="DogID"
               data-val="true" value=@dog.Id />
        <fieldset>
            @*<legend>Select Rating</legend>*@
            <label for="1" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="1" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="2" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="2" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="3" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="3" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="4" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="4" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>
            <label for="5" class="rating-label">
                <i class="bi bi-star"></i>
                <input type="radio" id="Rating" name="Rating" class="rating-radio"
                       data-val="true" value="5" oninput="radioClick(this)" onfocus="radioFocus(this)" onfocusout="radioFocusOut(this)" />
            </label>

        </fieldset>
        <input type="submit" class="btn btn-primary" asp-action="AddDogRating"
               asp-route-id="AddDogRating" />

    </form>
</div>
<script type="text/javascript">
    function radioClick(el) {
        var outlineClass = "bi-star";
        var fillClass = "bi-star-fill";

        var $labels = $(".rating-label");
        var selectedVal = el.value;
        $labels.each(function() {
            this.classList.remove("checked");
            $(this).children()[0].classList.remove(fillClass);
            console.log($(this).children()[0]);
            $(this).children()[0].classList.add(outlineClass);
        })
        $labels.each(function(index) {
            if (index < selectedVal) {
                this.classList.add("checked");
                $(this).children()[0].classList.remove(outlineClass);
                $(this).children()[0].classList.add(fillClass);
            }
        })
        //var $label = $(el).parent();
        //$label.toggleClass("checked")
    }

    function radioFocus(el) {
        var $label = $(el).parent();
        $label.addClass("focus");
    }

    function radioFocusOut(el) {
        var $label = $(el).parent();
        $label.removeClass("focus")
    }
</script>




