@model Dog
@{
    ViewData["Title"] = "Walker";
    var dogs = (List<Dog>)ViewBag.Dogs;
    var walker = (Walker)ViewBag.Walker;
    List<WalkingSession> SortedList = walker.WalkingSessions.OrderBy(o => o.Date).ToList();
     var userType = "Walker";
}

<div>
    <h1 class="text-primary">Walker Dashboard</h1>
</div>

<div>


    <div class="modal fade" id="sessionModal" tabindex="-1" aria-labelledby="sessionModalLabel" aria-hidden="true">
        <div id="sessionModal" class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="mb-3">Create New Walking Session</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="CreateWalkingSessions" id="CreateWalkingSession" method="post">
                        <div class="d-flex align-items-sm-end gap-4 flex-wrap">
                            <div class="flex-grow-1">
                                <label for="Date" class="form-label">Date</label>
                                <input type="date" id="Date" name="Date" class="form-control"
                                       data-val="true" data-val-date="The field Date must be a date."
                                       data-val-required="The date field is required." required />
                            </div>
                            <div class="d-flex gap-4 flex-wrap flex-grow-1">
                                <div class="flex-grow-1">
                                    <label for="StartTime" class="form-label">Start Time</label>
                                    <input type="time" id="StartTime" name="StartTime" class="form-control"
                                           data-val="true" data-val-time="The field StartTimne must be a time."
                                           data-val-required="The StartTime field is required." required />
                                </div>
                                <div class="flex-grow-1">
                                    <label for="EndTime" class="form-label">End Time</label>
                                    <input type="time" id="EndTime" name="EndTime" class="form-control"
                                           data-val="true" data-val-time="The field EndTime must be a time."
                                           data-val-required="The EndTime field is required." required />
                                </div>
                            </div>
                            <div>
                                <span id="sessionFormMessage" class="text-danger w-100"></span>
                            </div>
                            <div class="flex-grow-1 d-flex flex-column justify-content-end">
                                <input type="submit" class="btn btn-primary" asp-action="CreateWalkingSessions"
                                       value="Add Session" asp-route-id="CreateWalkingSessions" onclick="walkingSessionSubmit()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
<br />


<div class="container bg-light p-3 w-100 rounded shadow" id="walkerSections">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <img src="~/img/dogwalkerimg.png" class="w-100"/>
                <a class="btn btn-primary w-100 my-1" href="#upcomingSessions" data-bs-toggle="collapse">Upcoming Sessions</a>
                <a class="btn btn-primary w-100 my-1" href="#scheduledSessions" data-bs-toggle="collapse">Scheduled Sessions</a>
                <a class="btn btn-primary w-100 my-1 pb-2" href="#suitableDogs" data-bs-toggle="collapse">Suitable Dogs</a>
                <a class="btn btn-primary w-100 my-1" href="#walkerFaq" data-bs-toggle="collapse">Walker FAQ's</a>

            </div>
            <div class="col-lg-9  vh-100 overflow-scroll">

                    <div class="collapse show" id="upcomingSessions" data-bs-parent="#walkerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">
                    <h3>Upcoming Sessions</h3>
                    <button type="button" class="btn btn-primary row m-2" data-bs-toggle="modal" data-bs-target="#sessionModal">
                        <i class="bi bi-plus"></i>Add a walking session
                    </button>
                </div>
    <div class="mb-5 d-flex flex-column gap-1">
        @{
           

            foreach (var walk in SortedList)
        {
            if (DateTime.Compare(walk.Date, DateTime.UtcNow) >= 0 && walk.Date.Month == DateTime.UtcNow.Month)
            {
                        @Html.Partial("../Shared/Components/_WalkingSessionRow.cshtml",walk,  new ViewDataDictionary(this.ViewData){{"userType", userType}});
                //<partial name="../Shared/Components/_WalkingSessionRow.cshtml" model="walk" />
            }
        }
        }
    </div>
    </div>

                        <div class="collapse" id="scheduledSessions" data-bs-parent="#walkerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">
                <h3>Scheduled Sessions</h3>
                    <button type="button" class="btn btn-primary row m-2" data-bs-toggle="modal" data-bs-target="#sessionModal">
                        <i class="bi bi-plus"></i>Add a walking session
                    </button>
                </div>
    <div class="mb-5 d-flex flex-column gap-1">
        @{
           
        foreach (var walk in SortedList)
        {
            if (DateTime.Compare(walk.Date, DateTime.UtcNow) >= 0)
            {
                    @Html.Partial("../Shared/Components/_WalkingSessionRow.cshtml",walk,  new ViewDataDictionary(this.ViewData){{"userType", userType}});
                //<partial name="../Shared/Components/_WalkingSessionRow.cshtml" model="walk" />
            }
        }
        }
    </div>
    </div>

                <div class="collapse" id="suitableDogs" data-bs-parent="#walkerSections">
                <h3 class="mb-3">Suitable Dogs</h3>
    <div class="d-flex justify-content-between align-items-stretch flex-wrap gap-4">
        @foreach (var dog in dogs)
        {
            <partial name="../Shared/Components/_DogCard.cshtml" model="dog" />
        }
        @for (int i = 0; i < 2; i++)
        {
            <div class="card dog-card" style="height: 0; border: none;"></div>
        }
    </div>

</div>
            <div class="collapse" id="walkerFaq" data-bs-parent="#walkerSections">
                <h3 class="mb-3">
                    Walker FAQs
                </h3>
                <div class="accordion w-100 px-3 accordion-flush">
                    <div class="accordion-item ">
                        <p class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <strong>What is the duration of the walks?</strong>
                            </button>
                        </p>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#basicAccordion" style="">
                            <div class="accordion-body">
                                The duration of walks depends on both your walker and the needs of your dog. Owners are matched to a walker dependent on several factors, particularly the energy levels of your dogs which will inform how much time they need to be walked each day. Alongside this you will also be able to choose walking sessions based on your preferences.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <p class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                                    <strong>How much do I charge for my services?</strong>
                                </button>
                            </p>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#basicAccordion" style="">
                                <div class="accordion-body">
                                    Prices vary between walkers, prices can range from $20 to $30 per walk dependent on the needs of your dog and each individual.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <p class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                                        <strong>What happens if an owner cancels a walk?</strong>
                                    </button>
                                </p>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                     data-bs-parent="#basicAccordion" style="">
                                    <div class="accordion-body">
                                        EasyWalk adopts a flexible booking policy in which, if the booking is cancelled more than 24 hours before the walk a full refund is provided. If cancelled between 12-24 hours s a 50% cancellation fee applies, and within 12 hours a 100% cancellation fee applies.
                                    </div>
                                </div>
                            </div>
            </div>
            </div>
            </div>
                <div class="row col-sm-12">
                    <a class="btn btn-primary col-6 mx-auto mt-3 py-2" asp-action="FAQ">More FAQs</a>
                </div>
</div>
</div>
</div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">

        function walkingSessionSubmit() {
            var $sessionForm = $("#CreateWalkingSession");
            var $date = $("#Date");
            var $startTime = $("#StartTime");
            var $endTime = $("#EndTime");

            $("#sessionFormMessage").text("");

            if (!$sessionForm[0].checkValidity()) {
                $sessionForm[0].reportValidity();
                return;
            }

            var $badForm = false;

            var $startHour = Number($startTime.val().toString().substring(0, 2));
            var $endHour = Number($endTime.val().toString().substring(0, 2));

            // if the hour is too early else if the time is too early, report.
            if ($startHour > $endHour) {
                $("#sessionFormMessage").text("The start time must be before the end time");
                $badForm = true;
            } else if ($startHour == $endHour
                && Number($startTime.val().toString().substring(3, 5)) > Number($endTime.val().toString().substring(3, 5))) {
                $("#sessionFormMessage").text("The start time must be before the end time");
                $badForm = true;
            }

            var $now = new Date(Date.now())
            $now.setUTCHours(0);
            $now.setMinutes(0);
            $now.setSeconds(0);
            $now.setMilliseconds(0);
            var $sessionDate = new Date($date.val());

            // if date is in the past, report.
            if ($sessionDate < $now) {
                $("#sessionFormMessage").text("Date cannot be in the past.");
                $badForm = true;
            }

            if ($badForm) {
                return;
            }

            $sessionForm.submit();
        }


    </script>
}

