@model Dog
@{
    ViewData["Title"] = "Walker";
    var dogs = (List<Dog>)ViewBag.Dogs;
    var walker = (Walker)ViewBag.Walker;
}

<div>
    <h1>Dashboard</h1>
    <p class="">This is, @walker.FirstName @walker.LastName. @walker.FirstName is a Walker.</p>
</div>

<div>
    <form asp-action="CreateWalkingSession">
        <h3 class="">Create New Walking Session</h3>
        <label for="Date" class="control-label">Date of Walk</label>
        <input type="date" id="Date" name="Date" class="form-control"
               data-val="true" data-val-date="The field Date must be a date."
               data-val-required="The date field is required." />
        <label for="StartTime" class="control-label">Start Time of Walk</label>
        <input type="time" id="StartTime" name="StartTime" class="form-control"
               data-val="true" data-val-time="The field StartTimne must be a time."
               data-val-required="The StartTime field is required." />
        <label for="EndTime" class="control-label">End Time of Walk</label>
        <input type="time" id="EndTime" name="EndTime" class="form-control"
               data-val="true" data-val-time="The field EndTime must be a time."
               data-val-required="The EndTime field is required." />
        <input type="submit" class="btn btn-primary" asp-action="CreateWalkingSessions"
               value="Create Walking Session" asp-route-id="CreateWalkingSessions" />
    </form>
</div>
<br />

<div>
    <h3>Sessions</h3>

    <div class="mb-5 d-flex flex-column gap-1">
        @foreach (var walk in walker.WalkingSessions)
        {
            <partial name="../Shared/Components/_WalkingSessionRow.cshtml" model="walk"/>
        }
    </div>
</div>

<div>
    <h3>Suitable Dogs</h3>
    <div class="d-flex justify-content-around align-items-stretch flex-wrap gap-4">
        @foreach (var dog in dogs) 
        {
            <partial name="../Shared/Components/_DogCard.cshtml" model="dog" />
        }
    </div>

</div>