@model WalkingSession
@{
    ViewData["Title"] = "Past Sessions";
    var walks = (List<WalkingSession>)ViewBag.WalkingSession;
    var userType = "Previous";
}

<div>
    <h1 class="display-4">Walking Sessions</h1>
</div>

<div>
    <h3>Previous Sessions</h3>

    @foreach (var session in walks) {
        @Html.Partial("../Shared/Components/_WalkingSessionRow.cshtml",session,  new ViewDataDictionary(this.ViewData){{"userType", userType}})
    }

</div>