@model WalkingSession
@{
    ViewData["Title"] = "Walker";
    var dog = (int)ViewBag.DogID;
    var walks = (List<WalkingSession>)ViewBag.WalkingSession;
    var userType = "Walker";
}

<div>
    <h1 class="display-4">Walking Sessions</h1>
</div>

<div>
    <h3>Suitable Sessions</h3>

    @foreach (var session in walks) {
        @Html.Partial("../Shared/Components/_AddDogSessionRow.cshtml",session,  new ViewDataDictionary(this.ViewData){{"userType", userType}, {"dog_ID", dog}})
    }

</div>