@model EditProfileViewModel
@{
    ViewData["Title"] = "EditPassword";
}

<div>
    <h1 class="display-4">Profile</h1>


    <form asp-action="EditPassword" class="d-flex flex-column flex-md-row gap-md-4">
        <partial name="../Shared/Components/_ProfileMainInfo.cshtml" model=@Model; />

        <div class="mt-4 mt-md-0 p-4 bg-highlight rounded flex-grow-1 flex-grow-1">
            <input asp-for=Email type="hidden" value=@Model.Email />
            <input asp-for=SelectedField type="hidden" value=@Model.SelectedField />
            <input asp-for="FirstName" type="hidden" value=@Model.FirstName />
            <input asp-for=UserType type="hidden" value=@Model.UserType />
            <input asp-for=LastName type="hidden" value=@Model.LastName />
            <input asp-for=StreetAddress type="hidden" value=@Model.StreetAddress />
            <input asp-for=SuburbName type="hidden" value=@Model.SuburbName />
            <input asp-for=Postcode type="hidden" value=@Model.Postcode />
            <input asp-for=State type="hidden" value=@Model.State />
            <input asp-for=Country type="hidden" value=@Model.Country />
            <input asp-for=PhNumber type="hidden" value=@Model.PhNumber />
            <input asp-for=IsInsured type="hidden" value=@Model.IsInsured />
            <input asp-for=ExperienceLevel type="hidden" value=@Model.ExperienceLevel />

            <div class="form-group d-flex flex-column align-items-center align-items-md-start">
                <label for="Password" class="control-label">Password</label>
                <input id="Password" name="Password" type="password"
                       class="form-control password-field" data-val="true"
                       data-val-required="The Password field is required." />
                <div class="password-field">

                    @Html.ValidationMessage("Password", new  { @class = "text-danger"})
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center align-items-md-start">
                <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input id="ConfirmPassword" name="ConfirmPassword" type="password"
                       class="form-control password-field" data-val="true"
                       data-val-required="The Password field is required." />
                <div class="password-field">
                    @Html.ValidationMessage("confirmPassword", new  { @class = "text-danger"})
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center align-items-md-start pt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        
    </form>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }