@model Owner

@{
    ViewData["Title"] = "ViewDogs";
    var viewModel = (EditProfileViewModel)ViewBag.EditProfileViewModel;
}

<div>
    <h1 class="display-4">Profile</h1>

    <div class="modal" id="deleteModal" tabindex="-1" aria-hidden="true" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="fs-5 modal-title" id="deleteModalLabel">Confirm Delete</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete your dog from EasyWalk? All related data will be removed.
                        This action cannot be undone.
                    </p>
                    <div class="d-flex justify-content-end gap-3">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
                        <a class="btn btn-primary" id="ConfirmDelete"
                           asp-action="DeleteDog" asp-route-id="">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="ViewDogs" enctype="multipart/form-data" class="d-flex flex-column flex-md-row gap-md-4">
        <partial name="../Shared/Components/_ProfileMainInfo.cshtml" model=@viewModel; />
        <div class="bg-highlight rounded mt-4 mt-md-0 flex-grow-1 p-4">
            <div>
                @foreach (var dog in Model.Dogs)
                {
                    <div class="d-flex justify-content-between gap-3">

                        <div class="d-flex align-items-center">
                            <img src="~/img/@dog.ProfileImage" width="40" height="40" class="rounded-circle object-fit-cover" asp-append-version="true" />
                        </div>
                        <div class="d-flex flex-wrap gap-1 flex-grow-1 align-items-center">
                            <div class="pe-3">
                                @dog.Name
                            </div>
                            <div>
                                @dog.Breed.BreedName
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-end align-items-center">
                            <button type="submit" class="btn btn-primary"
                                asp-action="EditDogProfile" asp-route-dogID=@dog.Id>
                                Edit
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setRouteID(@dog.Id)">
                                Delete
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-center my-3">
                <a class="btn btn-outline-secondary" asp-controller="Owner" asp-action="AddDog">
                    <i class="bi bi-plus"></i>
                    Add Dog
                </a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script type="text/javascript">
        function setRouteID(dogID) {
            var href = $("#ConfirmDelete").attr("href");
            $("#ConfirmDelete").attr("href", "/Profile/DeleteDog/" + dogID);
        }
    </script>
}