@model Owner

@{
    ViewData["Title"] = "ViewDogs";
    var viewModel = (EditProfileViewModel)ViewBag.EditProfileViewModel;
}

<div>
    <h1 class="display-4">Profile</h1>

    <form asp-action="ViewDogs" enctype="multipart/form-data" class="d-flex flex-column flex-md-row gap-md-4">
        <partial name="../Shared/Components/_ProfileMainInfo.cshtml" model=@viewModel; />
        <div>
            <table>
                @foreach (var dog in Model.Dogs)
                {
                    <tr>

                        <td><img src="~/img/@dog.ProfileImage" width="40" height="40" class="rounded-circle" asp-append-version="true" /></td>
                        <td>@dog.Name</td>
                        <td>@dog.Breed.BreedName</td>
                        <td>@dog.Vet.BusinessName</td>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Edit"
                               asp-action="EditDogProfile" asp-route-dogID=@dog.Id />
                        </td>
                        <td>
                            <a class="btn btn-primary"
                           asp-action="DeleteDog" asp-route-id=@dog.Id>Delete</a>
                        </td>

                    </tr>
                }
            </table>
            <div>
                <a class="btn btn-primary" asp-controller="Owner" asp-action="AddDog">Add Dog</a>
            </div>


        </div>

    </form>
</div>
