@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="display-4">Register</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <input asp-for=AccountTypeSelection type="hidden" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" data-val="true"
                       data-val-required="The Username field is required." />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" data-val="true"
                       data-val-required="The Username field is required." />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" data-val="true"
                       data-val-required="Email field is required." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" data-val="true"
                       data-val-required="The address field is required." />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuburbName" class="control-label"></label>
                <input asp-for="SuburbName" class="form-control" data-val="true"
                       data-val-required="The suburb field is required." />
                <span asp-validation-for="SuburbName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" data-val="true"
                       data-val-required="Postcode is required." />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" data-val="true"
                       data-val-required="The state field is required." />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" data-val="true"
                       data-val-required="The country is required." />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhNumber" class="control-label"></label>
                <input asp-for="PhNumber" class="form-control" data-val="true"
                       data-val-required="Phone number is required." />
                <span asp-validation-for="PhNumber" class="text-danger"></span>
            </div>



            @if (Model.AccountTypeSelection == 2)
            {
                <div class="form-group">
                    <label asp-for="IsInsured" class="control-label"></label>
                    <input asp-for="IsInsured" class="form-control" data-val="true"
                       data-val-required="This is required." />
                    <span asp-validation-for="IsInsured" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExperienceLevel" class="control-label"></label>
                    <input asp-for="ExperienceLevel" class="form-control" data-val="true"
                       data-val-required="This is required." />
                    <span asp-validation-for="ExperienceLevel" class="text-danger"></span>
                </div>
            }


            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input id="Password" name="Password" type="password"
                       class="form-control" data-val="true"
                       data-val-required="The Password field is required." />
                @Html.ValidationMessage("Password", new  { @class = "text-danger"})
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>

            @Html.ValidationMessage("RegistrationFailure", new {@class = ""})
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    }