@model RegisterViewModel


@{
    ViewData["Title"] = "Register";
}
<div class="p-5 container">
    <h1 class="display-4 text-center">Register</h1>
    <p class="text-center">Choose your account type: </p>
    <div class="row mt-sm-4">
        <div class="col-sm mx-auto d-flex flex-column align-items-center gap-3">
            @*<img src="~/img/owner.png" width="100" height="100" />*@
            <img src="~/img/dogwalkerimg.png" class="mw-100" width="160" height="160" />
            <a class="btn btn-primary px-5" asp-action="Register" asp-route-id="1">Owner</a>
            <p class="text-center">
                Choose Owner if you have dogs that need to be taken on walks.
            </p>
        </div>
        <div class="col-sm-1 align-self-center">
            <p class="text-center">OR</p>
        </div>
        <div class="col-sm mx-auto d-flex flex-column align-items-center gap-3">
            @*<img src="~/img/walker.png" width="100" height="100" />*@
            <img src="~/img/dogownerimg.png" class="mw-100" width="120" height="160" />
            <a class="btn btn-primary px-5" asp-action="Register" asp-route-id="2">Walker</a>
            <p class="text-center">
                Choose walker if you offer dog-walking services and can help people by walk their dogs.
            </p>
        </div>
    </div>
</div>

            