@model EditDogProfileViewModel
@{
    ViewData["Title"] = "EditDogProfileVariable";
}

<h1 class="display-4">Edit Dog Profile</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDogProfileSave">

           @* <input asp-for="SelectedField" type="hidden" />
            <input asp-for="SavedDogImage" type="hidden" />
            <input asp-for="DogId" type="hidden" />
            <input asp-for="Breed" type="hidden" />
            <input asp-for="MicrochipNumber" type="hidden" />
            <input asp-for="IsVaccinated" type="hidden" />
            <input asp-for="Temperament" type="hidden" />
            <input asp-for="DogSize" type="hidden" />
            <input asp-for="TrainingLevel" type="hidden" />
            <input asp-for="DogImage" type="hidden" />
            <input asp-for="BusinessName" type="hidden" />
            <input asp-for="PhNumber" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <input asp-for="StreetAddress" type="hidden" />
            <input asp-for="SuburbName" type="hidden" />
            <input asp-for="Postcode" type="hidden" />
            <input asp-for="State" type="hidden" />
            <input asp-for="Country" type="hidden" />*@
  

            @*Add Dog Image Stuff here*@

            @if (Model.SelectedField.Equals(nameof(Model.Name)))
            {
                 <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <div class="form-group">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

               
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.Breed)))
            {
                <div class="form-group">
                    <label asp-for="Breed" class="control-label"></label>
                    <input asp-for="Breed" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="Breed" class="text-danger"></span>
                    </div>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.MicrochipNumber)))
            {
                <div class="form-group">
                    <label asp-for="MicrochipNumber" class="control-label"></label>
                    <input asp-for="MicrochipNumber" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="MicrochipNumber" class="text-danger"></span>
                    </div>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.IsVaccinated)))
            {
                <div class="form-group mt-3">
                    <label asp-for="IsVaccinated" class="control-label"></label>
                    <select class="form-select" asp-items="Model.IsVaccinatedList" asp-for="IsVaccinated">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="IsVaccinated" class="text-danger"></span>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.Temperament)))
            {
                <div class="form-group mt-3">
                    <label asp-for="Temperament" class="control-label"></label>
                    <select class="form-select" asp-items="Model.TemperamentList" asp-for="Temperament">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="Temperament" class="text-danger"></span>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.DogSize)))
            {
                <div class="form-group mt-3">
                    <label asp-for="DogSize" class="control-label"></label>
                    <select class="form-select" asp-items="Model.DogSizeList" asp-for="DogSize">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="DogSize" class="text-danger"></span>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.TrainingLevel)))
            {
                <div class="form-group mt-3">
                    <label asp-for="TrainingLevel" class="control-label"></label>
                    <select class="form-select" asp-items="Model.TrainingLevelList" asp-for="TrainingLevel">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="TrainingLevel"  class="text-danger"></span>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.BusinessName)))
            {
                <div class="form-group">
                    <label asp-for="BusinessName" class="control-label"></label>
                    <input asp-for="BusinessName" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                    </div>
                </div>
            }
              @if (Model.SelectedField.Equals(nameof(Model.PhNumber)))
            {
                 <div class="form-group">
                    <label asp-for="PhNumber" class="control-label"></label>
                    <input asp-for="PhNumber" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="PhNumber" class="text-danger"></span>
                    </div>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.Email)))
            {
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.StreetAddress)))
            {
                <div class="form-group">
                    <label asp-for="StreetAddress" class="control-label"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                </div>
            }
              @if (Model.SelectedField.Equals(nameof(Model.SuburbName)))
            {
                 <div class="form-group">
                    <label asp-for="SuburbName" class="control-label"></label>
                    <input asp-for="SuburbName" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="SuburbName" class="text-danger"></span>
                    </div>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.Postcode)))
            {
                <div class="form-group">
                    <label asp-for="Postcode" class="control-label"></label>
                    <input asp-for="Postcode" class="form-control" />
                    <div class="form-group">
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                </div>
            }
            @if (Model.SelectedField.Equals(nameof(Model.State)))
            {
                <div class="form-group mt-3">
                    <label asp-for="State" class="control-label"></label>
                    <select class="form-select" asp-items="Model.StatesList" asp-for="State">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            }
            <input name="DogID" class="form-control"
                   type="hidden" value="@Model.DogId" />
            <div class="form-group" style="padding-top: 15px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>        
    </div>
</div>

<div>
    <a asp-action="EditDogProfile" asp-route-DogID=@Model.DogId >Back to Profile</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

