@model Owner
@{
    ViewData["Title"] = "Owner";
    var walkingSessions = (List<WalkingSession>)ViewBag.WalkingSessions;

    var bookedSessions = (List<WalkingSession>)ViewBag.BookedSessions;
    var userType = "Owner";
}

<div>
    <h1 class="text-primary"> Dashboard</h1>
</div>

<br/>

<div class="container bg-highlight p-3 w-100 rounded shadow" id="ownerSections">
<div class="row">
    <div class="col-lg-3 col-sm-8 mb-3 mx-auto">
        <img src="~/img/dogownerimg.png" class="mw-100" />
        <a class="btn btn-primary w-100 my-1" href="#dogs" data-bs-toggle="collapse">Dogs</a>
        <a class="btn btn-primary w-100 my-1" href="#bookedsessions" data-bs-toggle="collapse">Booked Sessions</a>
        <a class="btn btn-primary w-100 my-1 pb-2" href="#upcomingsessions" data-bs-toggle="collapse">Upcoming Sessions</a>

    </div>
    <div class="col-lg-9 overflow-auto" style="height:75vh;">
            <div class ="collapse show" id="dogs" data-bs-parent="#ownerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">
                    <h3 class="mb-3">Dogs</h3>
                    <a type="button" class="btn btn-primary row m-2" asp-controller="Owner" asp-action="AddDog">
                        <i class="bi bi-plus"></i>Add Dog
                    </a>
                    @foreach (var dog in @Model.Dogs)
                    {
                        <partial name="../Shared/Components/_OwnerDogCard.cshtml" model="dog" />
                    }
                </div>
            </div>

            <div class="collapse" id="bookedsessions" data-bs-parent="#ownerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">

                    <h3 class="mb-3">Booked Sessions</h3>
    @if (bookedSessions.Any())
    {

    <div class="mb-5 d-flex flex-column gap-1">
        @{
            

            foreach (var walk in bookedSessions)
            {
                if (DateTime.Compare(walk.Date, DateTime.UtcNow) >= 0)
                {
                        @Html.Partial("../Shared/Components/_bookedSessionRow.cshtml",walk,  new ViewDataDictionary(this.ViewData){{"userType", userType}})
                        ;
                        ;
                        //   <partial name="../Shared/Components/_WalkingSessionRow.cshtml", model="walk", UserType = "userType" />
                    }
                }
            }
        </div>
    }
    else
    {
        <h6 class="col-12">You currently have no booked walking sessions. Head to Upcoming Sessions to get started.</h6>
    }
</div>
</div>

            <div class="collapse" id="upcomingsessions" data-bs-parent="#ownerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">
                    <h3 class="mb-3">Upcoming Sessions Near You</h3>
    <div class="mb-5 d-flex flex-column gap-1">
        @{

            foreach (var walk in walkingSessions)
            {
                if (DateTime.Compare(walk.Date, DateTime.UtcNow) >= 0)
                {
                    @Html.Partial("../Shared/Components/_WalkingSessionRow.cshtml",walk,  new ViewDataDictionary(this.ViewData){{"userType", userType}});
                ;
                //   <partial name="../Shared/Components/_WalkingSessionRow.cshtml", model="walk", UserType = "userType" />
            }
        }
        }
    </div>
    </div>
</div>
</div>
</div>
</div>

<div class="card border-0 flex-row mt-4">
    <div class="col d-flex flex-row justify-content-center card-img-top">
        <img class="img-fluid w-100"
             src="~/img/pexels-blue-bird-7210754-lg.jpg"
             srcset="/img/pexels-blue-bird-7210754-sm.jpg 400w, /img/pexels-blue-bird-7210754-md.jpg 680w, /img/pexels-blue-bird-7210754-lg.jpg 1000w"
             sizes="80vw"
             alt="Dogs on a walk" />
    </div>
    <div class="card-img-overlay card-inverse m-1 m-md-5 overflow-auto bg-body" style="--bs-bg-opacity: .8;">
        <h4 class="text-stroke text-primary p-3">
            FAQs
        </h4>
        <div class="accordion w-100 px-3 accordion-flush">
            <div class="accordion-item">
                <p class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>What happens if I need to cancel a walk?</strong>
                    </button>
                </p>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                     data-bs-parent="#basicAccordion" style="">
                    <div class="accordion-body">
                        EasyWalk adopts a flexible booking policy in which, if the booking is cancelled more than 24 hours before the walk a full refund is provided. If cancelled between 12-24 hours s a 50% cancellation fee applies, and within 12 hours a 100% cancellation fee applies.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <strong>What is your safety policy for ensuring my dog is well taken care of?</strong>
                    </button>
                </p>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                     data-bs-parent="#basicAccordion" style="">
                    <div class="accordion-body">
                        All walkers are required to provide details on their experience level and insurance. These details are monitored by administrators to ensure their reliability and walkers are only approved once reviewed by administrators.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <strong>What happens if it's raining?</strong>
                    </button>
                </p>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                     data-bs-parent="#basicAccordion" style="">
                    <div class="accordion-body">
                        Walks still go ahead when it’s raining, in the event of extreme weather warnings walkers have the right to cancel walks, providing a full refund to owners.
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-sm-12">
            <a class="btn btn-primary col-6 mx-auto mt-3 py-2" asp-controller="Home" asp-action="FAQ">More FAQs</a>
        </div>
    </div>
</div>