@model Owner
@{
    ViewData["Title"] = "Owner";
    var walkingSessions = (List<WalkingSession>)ViewBag.WalkingSessions;

    var bookedSessions = (List<WalkingSession>)ViewBag.BookedSessions;
    var userType = "Owner";
}

<div>
    <h1 class="text-primary"> Dashboard</h1>
</div>

<br/>

<div class="container bg-highlight p-3 w-100 rounded shadow" id="ownerSections">
<div class="row">
    <div class="col-lg-3 col-sm-8 mb-3 mx-auto">
        <img src="~/img/dogownerimg.png" class="mw-100" />
        <a class="btn btn-primary w-100 my-1" href="#dogs" data-bs-toggle="collapse">Dogs</a>
        <a class="btn btn-primary w-100 my-1" href="#bookedsessions" data-bs-toggle="collapse">Booked Sessions</a>
        <a class="btn btn-primary w-100 my-1 pb-2" href="#upcomingsessions" data-bs-toggle="collapse">Upcoming Sessions</a>

    </div>
    <div class="col-lg-9 overflow-auto" style="height:75vh;">
            <div class ="collapse show" id="dogs" data-bs-parent="#ownerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">
    <h3 class="mb-3">Dogs</h3>
    @foreach (var dog in @Model.Dogs)
    {
        <partial name="../Shared/Components/_OwnerDogCard.cshtml" model="dog" />
    }
</div>
</div>

            <div class="collapse" id="bookedsessions" data-bs-parent="#ownerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">

                    <h3 class="mb-3">Booked Sessions</h3>
    @if (bookedSessions.Any())
    {

    <div class="mb-5 d-flex flex-column gap-1">
        @{
            

            foreach (var walk in bookedSessions)
            {
                if (DateTime.Compare(walk.Date, DateTime.UtcNow) >= 0)
                {
                        @Html.Partial("../Shared/Components/_bookedSessionRow.cshtml",walk,  new ViewDataDictionary(this.ViewData){{"userType", userType}})
                        ;
                        ;
                        //   <partial name="../Shared/Components/_WalkingSessionRow.cshtml", model="walk", UserType = "userType" />
                    }
                }
            }
        </div>
    }
    else
    {
        <h6 class="col-12">You currently have no booked walking sessions</h6>
    }
</div>
</div>

            <div class="collapse" id="upcomingsessions" data-bs-parent="#ownerSections">
                <div class="d-flex justify-content-between flex-wrap mb-3">
                    <h3 class="mb-3">Upcoming Sessions Near You</h3>
    <div class="mb-5 d-flex flex-column gap-1">
        @{

            foreach (var walk in walkingSessions)
            {
                if (DateTime.Compare(walk.Date, DateTime.UtcNow) >= 0)
                {
                    @Html.Partial("../Shared/Components/_WalkingSessionRow.cshtml",walk,  new ViewDataDictionary(this.ViewData){{"userType", userType}});
                ;
                //   <partial name="../Shared/Components/_WalkingSessionRow.cshtml", model="walk", UserType = "userType" />
            }
        }
        }
    </div>
    </div>
</div>
</div>
</div>
</div>