@*
*@
@{
    ViewData["Title"] = "About Us";
}

<h1 class="text-primary">@ViewData["Title"]</h1>

<div class="col-6 pt-3">
    <p>Test</p>
</div>
<div class="col-6 pt-3">
<p>
    EasyWalk is a revolutionary dog walking matchmaking system designed to connect dog owners with trusted and reliable dog walkers in their local area. The idea behind EasyWalk originated from the need to provide a safe and efficient platform for dog owners who are looking for dog walking services, and for dog walkers who are looking for clients.
    </p>
 <p>   We understand that dog owners have a busy lifestyle, and finding the time to take their furry friend for a walk can be challenging. Similarly, dog walkers may find it difficult to market their services and attract new clients. EasyWalk aims to solve these problems by matching dog owners with reliable and experienced dog walkers in their local area.
     </p>
  <p>  At EasyWalk, we understand that your furry family members are your top priority. That's why dog safety is of utmost importance to us. Our walkers are thoroughly reviewed and vetted by our team to ensure that they are experienced, reliable, and truly passionate about dogs. We are committed to providing a safe and secure platform where you can find a trusted and responsible walker for your beloved pooch.
</p>
    <p>Our mission is to make dog walking easy and hassle-free for dog owners while providing a reliable source of income for dog walkers. We strive to create a community of dog owners and walkers who share a passion for dogs and a commitment to providing exceptional care.
</p>
</div>

