@*
*@
@{
    ViewData["Title"] = "About Us";
}

<h1 class="text-primary pt-3">@ViewData["Title"]</h1>

<div class="container-fluid row pt-5">
    <div class="col-lg-5 flex-column col-sm-8 mx-auto">
    <img class="img-fluid w-100"
        src="~/img/AboutImg1.png"
        sizes="80vw"
        alt="A dog on a leash going for a walk" />
</div>
<div class="col-lg-7 flex-column bg-primary p-3 rounded text-white col-sm-12 my-auto" >
        <p><strong>Our Mission</strong></p>
<p class="pt-3">
            At EasyWalk, our mission is to connect dog owners with trustworthy and reliable dog walkers. We believe that every dog deserves to be taken care of by someone who will provide them with the love and attention they deserve, even when their owners are unavailable. By providing a secure and easy-to-use platform, we strive to make the process of finding a dog walker effortless, enjoyable, and stress-free.
    </p>
</div>
    <div class="container-fluid row pt-5 ">
        <div class="col-lg-7 flex-lg-column bg-primary p-3 rounded text-white col-sm-12 my-auto flex-sm-column-reverse">
            <p><strong>Our Vision</strong></p>
            <p class="pt-3">
                Our vision is to create a world where every dog is happy, healthy, and well-exercised. We believe that a well-exercised dog is a happy dog, and we are committed to making it easy for dog owners to find the perfect walker for their furry friend. We envision a future where dog owners can trust the people they entrust with their pets, and where dog walkers are able to find meaningful work doing what they love. At EasyWalk, we strive to make this vision a reality by providing a platform that is accessible, affordable, and safe for all.
            </p>
        </div>
        <div class="col-lg-5 flex-lg-vecolumn col-sm-8 mx-auto flex-sm-column-reverse">
            <img class="img-fluid w-100"
                 src="~/img/AboutImg2.png"
                 sizes="80vw"
                 alt="A dog on a leash going for a walk" />
        </div>
</div>

