@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<h1 class="text-primary">@ViewData["Title"]</h1>

<div class="accordion w-100 px-3 py-3 accordion-flush">
    <div class="accordion-item ">
        <p class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong>How do I sign up?</strong>
            </button>
        </p>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#basicAccordion" style="">
            <div class="accordion-body">
                Click on the “Sign Up” button at the top of the home page or select “Login” on the menu bar and select “Create Account”.
            </div>
        </div>
        <div class="accordion-item">
            <p class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>How much does it cost for my dog to be walked through your service?</strong>
                </button>
            </p>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#basicAccordion" style="">
                <div class="accordion-body">
                    Prices vary between walkers, prices can range from $20 to $30 per walk dependent on the needs of your dog and each individual.
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>What is the duration of the walks?</strong>
                    </button>
                </p>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#basicAccordion" style="">
                    <div class="accordion-body">
                        The duration of walks depends on both your walker and the needs of your dog. You will be matched to a walker dependent on several factors, particularly the energy levels of your dogs which will inform how much time they need to be walked each day. Alongside this you will also be able to choose walking sessions based on your preferences.
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>My dog is not good with other dogs, can I still sign up?</strong>
                        </button>
                    </p>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#basicAccordion" style="">
                        <div class="accordion-body">
                            Yes, we cater for all dogs. When adding a dog please select the temperament level that best matches your dog and you will be connected with appropriate walkers.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <strong>What happens if I need to cancel a walk?</strong>
                            </button>
                        </p>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                             data-bs-parent="#basicAccordion" style="">
                            <div class="accordion-body">
                                EasyWalk adopts a flexible booking policy in which, if the booking is cancelled more than 24 hours before the walk a full refund is provided. If cancelled between 12-24 hours s a 50% cancellation fee applies, and within 12 hours a 100% cancellation fee applies.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <p class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <strong>What is your safety policy for ensuring my dog is well taken care of?</strong>
                                </button>
                            </p>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                 data-bs-parent="#basicAccordion" style="">
                                <div class="accordion-body">
                                    All walkers are required to provide details on their experience level and insurance. These details are monitored by administrators to ensure their reliability and walkers are only approved once reviewed by administrators.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <p class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        <strong>What happens if it's raining?</strong>
                                    </button>
                                </p>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                     data-bs-parent="#basicAccordion" style="">
                                    <div class="accordion-body">
                                        Walks still go ahead when it’s raining, in the event of extreme weather warnings walkers have the right to cancel walks, providing a full refund to owners.
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <p class="accordion-header" id="headingEight">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            <strong>What happens in an emergency?</strong>
                                        </button>
                                    </p>
                                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                         data-bs-parent="#basicAccordion" style="">
                                        <div class="accordion-body">
                                            In the set up process, owners are directed to provide details of their vet as well as their contact number. Depending on the level of emergency, walkers will contact the owner and the dogs vet for further direction.
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <p class="accordion-header" id="headingNine">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                <strong>What makes your service different to hiring a dog walker directly? </strong>
                                            </button>
                                        </p>
                                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                             data-bs-parent="#basicAccordion" style="">
                                            <div class="accordion-body">
                                                EasyWalk is a one-stop-shop for all your dog walking needs. Rather than sifting through a saturated marketplace of walkers, EasyWalk matches you directly to walkers available in your area that suit your needs. At the click of a button you can connect directly to walkers and set up walks through our platform.
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <p class="accordion-header" id="headingTen">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                                        data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                    <strong>What can I do if I encounter any issues while using this service? </strong>
                                                </button>
                                            </p>
                                            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                                                 data-bs-parent="#basicAccordion" style="">
                                                <div class="accordion-body">
                                                    In the unlikely event that you encounter issues please get in touch using our contact email <a href="mailto:admin@easywalk.com">admin@easywalk.com.au</a> and we will be able to help resolve any issues encountered.
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <p class="accordion-header" id="headingEleven">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                                            data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                        <strong>Am I able to connect with multiple walkers using the program? </strong>
                                                    </button>
                                                </p>
                                                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                                                     data-bs-parent="#basicAccordion" style="">
                                                    <div class="accordion-body">
                                                        Once you have booked in your first walking session you will continue to be matched to walkers that suit your needs. In order to book a session with a different walker all you need to do is select the new session on your dashboard.
                                                    </div>
                                                </div>
                                            </div>
