@{
    ViewData["Title"] = "Home Page";
}
@{
    var isLoggedIn = Context.Session.GetInt32(nameof(Owner.UserId)).HasValue;
    var accountType = Context.Session.GetString("AccountType");
}

<div class="container pt-md-5">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center mt-5 mt-md-0" id="hero-img" role="img" alt="A large, blond dog laying in the grass.">
            <img class="img-fluid rounded" 
                src="~/img/angel-luciano-LATYeZyw88c-unsplash-lg.jpg"
                srcset="/img/angel-luciano-LATYeZyw88c-unsplash-sm.jpg 400w, /img/angel-luciano-LATYeZyw88c-unsplash-md.jpg 680w, /img/angel-luciano-LATYeZyw88c-unsplash-lg.jpg 1000w"
                sizes="(max-width: 575px) 90vw; (max-width: 767px) 500px, (max-width: 991px) 310px; 450px"
                alt="A large, blond dog laying in the grass."/>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-end mt-5 mt-md-0">
            <h1 class="text-primary" style="font-size: 3.5rem;">Find Dog Walkers Near You</h1>
            <p>
                @if (isLoggedIn && accountType == "Owner") {
                    <span>Welcome to EasyWalk, where we connect your furry friend to dog walkers in your area.</span>
                } else if (isLoggedIn && accountType == "Walker") {
                    <span>Welcome to EasyWalk, where we connect furry friends and local dog walkers.</span>
                }
                else {
                    <span>Welcome to EasyWalk, where we connect furry friends and local dog walkers.</span>
                    <span>Sign up now!</span>
                }
            </p>
            <div>
                @if (isLoggedIn && accountType == "Owner") {
                    <a class="btn btn-outline-primary" asp-controller="@accountType" asp-action="Index">Find a walker</a>
                } 
                else if (isLoggedIn && accountType == "Walker") {
                    <a class="btn btn-outline-primary" asp-controller="@accountType" asp-action="Index">Get started</a>
                }
                else {
                    <a class="btn btn-primary" asp-route="selectAccount">Sign Up</a>
                    <a class="btn btn-outline-primary ms-2" asp-controller="Login" asp-action="Login">Login</a>
                }
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid row px-3 py-5 mt-2 mx-auto bg-highlight">
        <div class="card p-3 col-12 col-md-6 col-lg-4 border-0 bg-transparent mx-auto">
            <img class="card-img-top p-2" src="~/img/dog-icon.svg" alt="Dog Icon" style="margin:auto; max-width:150px">
            <div class="card-body text-center">
            <h4 class="card-title" style="color:#4C4E52">Set Up</h4>
                <p class="card-text">Upload your furry friend's information to find walkers that best match your dog.</p>
            </div>
        </div>
    <div class="card p-3 col-12 col-md-6 col-lg-4 border-0 bg-transparent mx-auto">
            <img class="card-img-top p-2" src="~/img/connect-icon.svg" alt="Icon of Person with Speech Bubble" style="margin:auto; max-width:150px">
            <div class="card-body text-center">
            <h4 class="card-title" style="color:#4C4E52">Connect</h4>
                <p class="card-text">Connect with walkers near you who match best with your furry friend.</p>
            </div>
        </div>
    <div class="card p-3 col-12 col-md-6 col-lg-4 border-0 bg-transparent mx-auto">
            <img class="card-img-top p-2" src="~/img/walking-icon.svg" alt="Dog with leash icon" style="margin:auto; max-width:150px">
            <div class="card-body text-center">
            <h4 class="card-title" style="color:#4C4E52">Walk</h4>
                <p class="card-text">Set up walking sessions with connected walkers and you're on your way.</p>
            </div>
        </div>
        <div class="row">
        <a class="btn btn-primary col-lg-3 col-md-5 col-sm-6 mx-auto mt-3 py-2" asp-action="AboutUs">More About Us</a>
        </div>
    </div>

    <div class="card border-0 flex-row">
        <div class="col d-flex flex-row justify-content-center card-img-top">
            <img class="img-fluid w-100" 
                src="~/img/pexels-bethany-ferr-5482860-lg.jpg"
                srcset="/img/pexels-bethany-ferr-5482860-sm.jpg 400w, /img/pexels-bethany-ferr-5482860-md.jpg 680w, /img/pexels-bethany-ferr-5482860-lg.jpg 1000w"
                sizes="80vw"
                alt="A dalmation on a leash, going for a walk" />
        </div>
    <div class="card-img-overlay card-inverse m-5 overflow-auto w-lg-50 w-sm-100 col-lg-6 bg-body" style="--bs-bg-opacity: .8;">
        <h4 class="text-stroke text-primary p-3">
            FAQs
        </h4>
        <div class="accordion w-100 px-3 accordion-flush">
                <div class="accordion-item ">
                    <p class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>How do I sign up?</strong>
                        </button>
                    </p>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#basicAccordion" style="">
                        <div class="accordion-body">
                        Click on the “Sign Up” button at the top of the home page or select “Login” on the menu bar and select “Create Account”.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                                <strong>How much does it cost for my dog to be walked through your service?</strong>
                            </button>
                        </p>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#basicAccordion" style="">
                            <div class="accordion-body">
                            Prices vary between walkers, prices can range from $20 to $30 per walk dependent on the needs of your dog and each individual.
                        </div>
                        </div>
                        <div class="accordion-item">
                            <p class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-parent="#accordion"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                                <strong>What is the duration of the walks?</strong>
                                </button>
                            </p>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#basicAccordion" style="">
                                <div class="accordion-body">
                                The duration of walks depends on both your walker and the needs of your dog. You will be matched to a walker dependent on several factors, particularly the energy levels of your dogs which will inform how much time they need to be walked each day. Alongside this you will also be able to choose walking sessions based on your preferences.
                            </div>
                            </div>
            </div>
        </div>
        </div>       
        </div>
            <div class="row col-sm-12">
                <a class="btn btn-primary col-6 mx-auto mt-3 py-2" asp-action="FAQ">More FAQs</a>
            </div>
        </div>
