@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the landing page for Easy Walk.</p>
</div>*@

<div class="container pt-md-5 min-vh-100">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center mt-5 mt-md-0">
            <img class="img-fluid" src="~/img/placeholder.jpg"  alt="placeholder" style="border: 1px solid black;"/>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-end mt-5 mt-md-0">
            <h1 class="text-primary" style="font-size: 3.5rem;">Find Dog Walkers Near You</h1>
            <p>Welcome to EasyWalk, where we connect your furry friend to dog walkers in your area. Sign up now!</p>
            <div>
                <a class="btn btn-primary" asp-route="selectAccount">Sign Up</a>
                <a class="btn btn-outline-primary ml-2" asp-controller="Login" asp-action="Login">Login</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col d-flex flex-row justify-content-center">
            <img class="img-fluid w-100" src="~/img/placeholder.jpg" alt="placeholder" style="border: 1px solid black;" />
        </div>
    </div>
</div>
