@{
    ViewData["Title"] = "Home Page";
}
@{
    var isLoggedIn = Context.Session.GetInt32(nameof(Owner.UserId)).HasValue;
    var accountType = Context.Session.GetString("AccountType");
}

<div class="container pt-md-5 min-vh-100">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center mt-5 mt-md-0" id="hero-img">
            <img class="img-fluid" src="~/img/angel-luciano-LATYeZyw88c-unsplash.jpg"  alt="A large, blond dog laying in the grass."/>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-end mt-5 mt-md-0">
            <h1 class="text-primary" style="font-size: 3.5rem;">Find Dog Walkers Near You</h1>
            <p>Welcome to EasyWalk, where we connect your furry friend to dog walkers in your area. 
                
               @if (!isLoggedIn) { <span>Sign up now!</span> }
            </p>
            <div>
                @if (isLoggedIn) {
                    @*The landing text doesn't make that much sense for walkers*@
                    <a class="btn btn-outline-primary" asp-controller="@accountType" asp-action="Index">Find a walker</a>
                } 
                else {
                    <a class="btn btn-primary" asp-route="selectAccount">Sign Up</a>
                    <a class="btn btn-outline-primary ms-2" asp-controller="Login" asp-action="Login">Login</a>
                }
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col d-flex flex-row justify-content-center">
            <img class="img-fluid w-100" src="~/img/pexels-bethany-ferr-5482860.jpg" alt="A dalmation on a leash, going for a walk" />
        </div>
    </div>
</div>

