@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the landing page for Easy Walk.</p>
</div>*@

<div class="container pt-md-5 min-vh-100">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/img/placeholder.jpg" width="400" height="300" alt="placeholder" />
        </div>
        <div class="col-sm-6">
            <h1>Find Dog Walkers Near You</h1>
            <p>Welcome to EasyWalk, where we connect your furry friend to dog walkers in your area. Sign up now!</p>
            <a class="btn btn-primary" asp-route="selectAccount">Sign Up</a>
            <a class="btn btn-outline-primary ml-2" asp-controller="Login" asp-action="Login">Login</a>
        </div>
    </div>
</div>
