@import 'variables';
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border-radius: 1.25rem;
}

@include media-breakpoint-up(lg) {
    .container {
        max-width: 960px;
    }
}

/* navbar */
/********************************************************************/
.nav-link:not(.dropdown-toggle) {
    position: relative;
    width: max-content;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: $primary;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }

    &:hover::after, &:focus::after {
        transform: scale(1);
    }
}

.nav-item.active > .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #429eA6;
    opacity: 1;
    transform: scale(1);
}

/********************************************************************/
/* end navbar styling */

/* footer */
/********************************************************************/
footer {
    background-color: $primary;
    text-align: center;
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
}
/********************************************************************/
/* end footer styling*/

/* landing */
/********************************************************************/
@include media-breakpoint-only(md) {
    #hero-img {
        background-image: url("../img/angel-luciano-LATYeZyw88c-unsplash-crop.jpg");
        background-size: auto 100%;
        background-origin: content-box;
        background-repeat: no-repeat;
        border-right: 20px solid #ffffff;

        img {
            display: none;
        }
    }
}
/********************************************************************/
/* end landing styling */

/* dog card */
/********************************************************************/
.dog-card {
    width: 18rem;

    @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
    }
}
/********************************************************************/
/* end dog card styling*/

/* session row */
/********************************************************************/
.session-card {

}
/********************************************************************/
/* end session row styling*/

/* register */
/********************************************************************/
.account-container {
    min-height: calc(70vh - 5.5rem);
}
/********************************************************************/
/* end register styling */